.animate {
    overflow: hidden;
    white-space: nowrap;
    display: none;
    font-size: 4em !important;
}

.a1, .a2 {
    top: 83px;
    position: fixed;
    left: 213px;
    font-size: 1.5em;
}

.a2 {
    top: 90px;
}