<div *ngFor="let subject of subjects">
    <h3>{{ subject }}</h3>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let chapter of getChapters(subject)">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{ chapter }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <button mat-raised-button color="primary" *ngFor="let topic of getTopics(chapter)" fxLayout="row" fxLayoutAlign="space-between center" (click)="createTest()">
                <mat-icon>topic</mat-icon>
                {{ topic }}
            </button>
        </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
</div>