<div class="instructor-dashboard">
    <mat-sidenav-container class="drawer-container">
        <mat-sidenav mode="over" #sidenav>
            <div class="padding-top" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" *ngFor="let menu of menus" [routerLink]="menu.path">
                    <mat-icon>{{menu.icon}}</mat-icon>
                    {{menu.menu}}
                </button>
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" (click)="auth.logout()">
                    <mat-icon>settings_power</mat-icon>
                    Logout
                </button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="page-header-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
                    <mat-icon class="humburger" (click)="sidenav.toggle()" title="Open Menus">toc</mat-icon>
                    <span class="page-header">{{ pageHeader }}</span>
                </div>
                <mat-select class="course-container" [(ngModel)]="myCourse" (ngModelChange)="courseChange()" name="course" [title]="myCourse">
                    <mat-option *ngFor="let course of myCourses" [value]="course">
                        {{course}}
                    </mat-option>
                </mat-select>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>