.instructor-dashboard {
    height: 100%;
    .drawer-container {
        height: 100%;
        mat-sidenav {
            min-width: 11em;
            max-width: 15em;
            padding: 0 0.5em;
            .mat-list-item {
                cursor: pointer;
            }
        }
    }
}

.padding-top {
    padding-top: 0.5em;
}


.hide-button, .show-button {
    position: fixed;
    bottom: 5px;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

.show-button {
    left: 1em;
}

.mat-icon {
    cursor: pointer;
}

.page-header-container {
    width: 11em;
}

.course-container {
    min-width: 10em;
    max-width: 15em;
}

::ng-deep .mat-select-value {
    text-align: right !important;
    padding-right: 0.5em !important;
    font-weight: 500;
}
