<div fxFill fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start start">
        <mat-radio-group fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="start center"
            aria-labelledby="Action type"
            [(ngModel)]="pageAction">
            <mat-radio-button class="example-radio-button" value="USER"> USER </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="GROUP"> GROUP </mat-radio-button>
        </mat-radio-group>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center" *ngIf="pageAction === 'GROUP' && newGroup">
            <mat-form-field>
                <mat-label>Group Name</mat-label>
                <input matInput [(ngModel)]="newGroup.name">
            </mat-form-field>
            <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="addGroup()">
                <mat-icon>done</mat-icon>
                <span> Save </span>
            </button>
            <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button (click)="discardGroup()">
                <mat-icon>close</mat-icon>
                <span> Discard </span>
            </button>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center" *ngIf="pageAction === 'USER' && newUser">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="newUser.name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="newUser.email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contact</mat-label>
                <input matInput [(ngModel)]="newUser.contact">
            </mat-form-field>
            <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="addGuest()">
                <mat-icon>done</mat-icon>
                <span> Save </span>
            </button>
            <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button (click)="discardUser()">
                <mat-icon>close</mat-icon>
                <span> Discard </span>
            </button>
        </div>
    </div>
    
    <table *ngIf="pageAction === 'USER'">
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Contact </th>
            <th> Actions </th>
        </tr>
        <tr *ngFor="let user of users">
            <ng-container *ngTemplateOutlet="user.isEditMode ? userTemplateEdit : userTemplateView; context:{user:user}" ></ng-container>
        </tr>
    </table>
    <table *ngIf="pageAction === 'GROUP'">
        <tr>
            <th> Name </th>
            <th> Users </th>
        </tr>
        <tr *ngFor="let group of groups">
            <td>{{ group.name }}</td>
            <td> <a (click)="openUserGroupDialog(group)">Users</a></td>
        </tr>
    </table>
</div>

<ng-template #userTemplateView let-user="user">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.contact }}</td>
    <td fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5em">
        <button title="Edit" mat-mini-fab color="primary" (click)="user.isEditMode = true">
            <mat-icon>edit</mat-icon>
        </button>
        <button title="Activate/Deactivate" mat-mini-fab>
            <mat-icon *ngIf="user.enabled">visibility_off</mat-icon>
            <mat-icon *ngIf="!user.enabled">visibility</mat-icon>
        </button>
        <button title="Delete this test" mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
</ng-template>

<ng-template #userTemplateEdit let-user="user">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.contact }}</td>
    <td fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5em">
        <button title="Save" mat-mini-fab color="primary">
            <mat-icon>done</mat-icon>
        </button>
        <button title="Discard" mat-mini-fab>
            <mat-icon>close</mat-icon>
        </button>
    </td>
</ng-template>