<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em">
    <button mat-raised-button color="primary" *ngIf="!test" (click)="createTest()" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>grading</mat-icon>
        Create Test
    </button>
    <button mat-raised-button color="primary" *ngIf="test && test.status === 0" (click)="startTest()" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>article</mat-icon>
        Start Test
    </button>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
        <button mat-raised-button color="primary" *ngIf="test && test.status === 1" (click)="finishTest()" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon>done_outline</mat-icon>
            Submit Test
        </button>
        <button mat-raised-button color="primary" *ngIf="test && test.status === 1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon>timer</mat-icon>
            <countdown [config]="{leftTime: timer, format: 'm:s'}" (event)="handleEvent($event)"></countdown> / {{ timer/60 }}
        </button>
    </div>
    <app-quiz 
        *ngIf="test && test.status === 1"
        [test]="test"
        (timerPause) = "pauseTimer()"
        (timerResume) = "resumeTimer()"
    ></app-quiz>
    <app-test-statistics 
        *ngIf="test && test.status === 2"
        [test]="test"
    ></app-test-statistics>
    <button mat-raised-button color="primary" *ngIf="test && test.status === 2" (click)="createTest()" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>grading</mat-icon>
        Create New Test
    </button>
</div>
