<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0.5em">
    <div fxFlex.xs="98" fxFlex="78" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em">
        <button mat-raised-button color="primary" *ngIf="test && test.status === 0" (click)="startTest()" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon>article</mat-icon>
            Start Test
        </button>
        <div fxFill fxLayout="column" fxLayoutAlign="space-between start" *ngIf="test && test.status === 0">
            <div fxFill fxLayout="column" fxLayoutAlign="space-between start" *ngFor="let info of instructions">
                <h3>{{info.key}}</h3>
                <div [innerHTML]="info.value"></div>
            </div>
        </div>
        <div fxFill fxLayout="row" fxLayoutAlign="space-between center" *ngIf="test && test.status === 1" >
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
                <h4>Time left</h4>
                <button class="strong" mat-raised-button color="accent" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon>timer</mat-icon>
                    <countdown [config]="{leftTime: timer, format: 'HH:mm:ss'}" (event)="handleEvent($event)"></countdown>
                </button>
            </div>
            <mat-icon class="question-pallete-opener" (click)="openQuestionPallete=true">view_module</mat-icon>
        </div>
        <app-quiz fxFill
            *ngIf="test && test.status === 1"
            [action]="'attempt'"
            [test]="test"
            (handleFinishTest)="finishTest()"
            (timerPause) = "pauseTimer()"
            (timerResume) = "resumeTimer()"
        ></app-quiz>
        
    </div>
    <div class="question-pallet-container" *ngIf="test && test.status === 1" fxFlex="20">
        <app-question-pallete
            [test]="test"
            (handleQuestionSelection)="onQuestionSelection($event)"
        ></app-question-pallete>
    </div>
</div>
<div fxFill fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em" *ngIf="test && test.status === 2">
    <app-test-statistics fxFill
        [test]="test"
    ></app-test-statistics>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
        <button mat-raised-button color="success" *ngIf="test && test.status === 2" [routerLink]="['/user/test-answer-key', test._id]" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon>grading</mat-icon>
            Answer key
        </button>
        <button mat-raised-button color="orange" *ngIf="test && test.status === 2" [routerLink]="['/user/my-tests']" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon>grading</mat-icon>
            My Tests
        </button>
        <button mat-raised-button color="primary" *ngIf="test && test.status === 2" [routerLink]="['/user/start-taking-test']" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon>grading</mat-icon>
            Create New Test
        </button>
    </div>
</div>
<div class="question-pallete-mobile" [class.disabled]="!openQuestionPallete" *ngIf="test && test.status === 1" (click)="openQuestionPallete=false">
    <div class="pallet" (click)="$event.stopPropagation()">
        <app-question-pallete
            [test]="test"
            (handleQuestionSelection)="onQuestionSelection($event)"
        ></app-question-pallete>
    </div>
</div>
