h4 {
    margin-right: 2em !important;
}

.question-pallete-mobile.disabled, .question-pallete-opener {
    display: none; 
}

@media only screen and (max-width: 600px)  {
    .question-pallet-container {
        display: none;
    }
    .question-pallete-opener {
        display: block;
        cursor: pointer;
        font-size: 3em !important;
        margin-right: 0.5em;
    }
    .question-pallete-mobile {
        display: block;
        top: 0;
        bottom:0;
        right: 0;
        position: fixed; 
        background-color: #000;

        div.pallet {
            display: block;
            padding: 0.2em;
            height: 100vh;
            background-color: #fff !important;
            margin-left: 50% !important;
        }
    }
}