app-question, .answer-block {
    font-family: 'Times New Roman', Times, serif; font-size: 1.5em !important;
    span.green {
        color: #155724;
    }
    span.red {
        color: red;
    }
}

.info-tooltip {
    cursor: pointer;
    font-size: 2.5em !important;
}

.info-para-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.pallet-opener {
    display: none;
    font-size: 3em !important;
}

@media only screen and (max-width: 600px)  {
    app-question, .answer-block {
        font-family: 'Times New Roman', Times, serif; font-size: 1em !important;
    }

    .question-action-buttons button {
        margin-bottom: 0.5em !important;
    }

    .pallet-opener {
        display: block;
    }
}