<div fxFill *ngIf="test" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutAlign="space-between end">
        <h3 *ngIf="question">Q{{ question.questionNum }}: </h3>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between end" style="padding-right: 1em;">
            <mat-icon color="warn" class="info-tooltip" (click)="openReportDialog()">warning</mat-icon>
            <mat-icon class="info-tooltip" (click)="openInfoToolTipDialog()">info</mat-icon>
            <mat-icon class="info-tooltip pallet-opener" (click)="openQuestionPallet.emit()">view_module</mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
    <a *ngIf="question && question.infoPara" class="info-para-link" (click)="openInfoParaDialog()">Refer information paragraph for this question</a>
    <div class="question-container">
        <app-question
            *ngIf="question"
            [action]="action"
            [question]="question"
        ></app-question>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1em" *ngIf="question && action === 'attempt'">
        <div class="question-action-buttons" fxFill fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap.xs="1em" fxLayoutGap.sm="1em">
            <div fxFill fxFlex.md="48" fxFlex.lg="48" fxLayout="row" fxLayoutAlign="space-between center">
                <button fxFlex="45" mat-raised-button color="lime" [disabled]="!question.userAnswer" (click)="saveAndNext()"> 
                    {{ isLastQuestion() ? 'Save' : 'Save & Next' }}
                </button>
                <button fxFlex="45" mat-raised-button color="accent" [disabled]="!question.userAnswer" (click)="saveAndMarkForReviewAndNext()"> 
                    {{ isLastQuestion() ? 'Save & Mark' : 'Save, Mark & Next' }}
                </button>
            </div>
            <div fxFill fxFlex.md="47" fxFlex.lg="47" fxLayout="row" fxLayoutAlign="space-between center">
                <button fxFlex="45" mat-raised-button color="primary" (click)="markForReviewAndNext()">
                    {{ isLastQuestion() ? 'Mark' : 'Mark & Next' }}
                </button>
                <button fxFlex="45" mat-raised-button [disabled]="!question.userAnswer" (click)="clearResponse()">
                    Clear Response
                </button>
            </div>
        </div>
        <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <button fxFlex.xs="25" fxFlex.sm="25" mat-raised-button color="" *ngIf="question.questionNum !== 1 " (click)="prevQuestion()">
                    <mat-icon>skip_previous</mat-icon>
                    Prev
                </button>
                <button fxFlex.xs="25" fxFlex.sm="25" mat-raised-button color="" *ngIf="question.questionNum !== test.questionCount" (click)="nextQuestion()">
                    Next
                    <mat-icon>skip_next</mat-icon>
                </button>
                <button fxFlex.xs="48" fxFlex.sm="48" mat-raised-button color="lime" (click)="finishTest()">
                    <mat-icon>done_outline</mat-icon>
                    Submit Test
                </button>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1em" *ngIf="question && action === 'view'">
        <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <div fxFlex.xs="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <button mat-raised-button color="primary" *ngIf="question.questionNum !== 1 " (click)="viewPrevQuestion()">
                    <mat-icon>skip_previous</mat-icon>
                    Previous
                </button>
                <button mat-raised-button color="primary" *ngIf="question.questionNum !== test.questionCount" (click)="viewNextQuestion()">
                    Next
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
        </div>
        <div class="answer-block" fxFill fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em" *ngIf="question && action=== 'view'">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em" class="alert-box" [class.info-box]="!question.obtainedMarks && !question.negativeMarks" [class.success-box]="question.obtainedMarks" [class.danger-box]="question.negativeMarks && !question.obtainedMarks">
                <span>Ans. ({{question.answer}})</span>
                <span *ngIf="question.obtainedMarks">Obtained Marks: (<span class="green">{{question.obtainedMarks}}</span>)</span>
                <span *ngIf="question.negativeMarks">Negative Marks: (<span class="red">-{{question.negativeMarks}}</span>)</span>
            </div>
            <div class="alert-box" [class.success-box]="question.answerDescription">
                <app-statement
                    fxFill
                    *ngIf="question.answerDescription"
                    [imagePath]="question.imagePath"
                    [statement]="question.answerDescription"
                ></app-statement>
            </div>
        </div>
    </div>
</div>