h3 {
    margin: 0;
    padding: 0;
}
button {
    margin: 0.1em;
}
.info {
    margin: 1em 0;
}
.scroll-pallete {
    padding: 0.1em;
    height: 50vh;
    overflow-y: auto;

    &.view-mode {
        height: 80vh;
    }
}
.subject-navigation button {
    line-height: 1.5em !important;
    padding: 0.2em 0.5em !important;
    min-width: unset;
}