<div class="info" *ngIf="action === 'attempt'">
    <button mat-mini-fab color=""></button> Not visited <br>
    <button mat-mini-fab color="warn"></button> Unanswered <br>
    <button mat-mini-fab color="lime"></button> Answered <br>
    <button mat-mini-fab color="accent"></button> Answered and Marked <br>
    <button mat-mini-fab color="primary"></button> Marked for review <br>
</div>
<h3>Choose a Question</h3>
<mat-divider></mat-divider>
<div class="info scroll-pallete">
    <button mat-mini-fab (click)="chooseQuestion(question)" [color]="getColor(question)" *ngFor="let question of test.questions; let i = index">
        {{ i + 1 }}
    </button>
</div>


