.below-image {
    max-width: 40em;
}

.flotted-image {
    max-width: 50em;
}

.statement-img {
    max-width: 30em;
}

@media only screen and (max-width: 600px)  {
    .below-image, .flotted-image, .statement-img {
        max-width: 98%;
    } 
}

// .margin-bottom-1em {
//     margin-bottom: 0.2em !important;
// }