.form-container {
    padding: 1em;
    &.view-actual {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .form {
        padding-top: 1em;
    }

    .logo {
        width: 5em;
        border-radius: 50%;
        background: #fff;
    }

    .app-name {
        font-size: 1.5em;
        font-weight: 500;
        font-family: 'Arvo', serif;
        color: #673ab7;
        border-bottom: 0.1em solid #241571;
        padding-bottom: 0.2em;
    }
    .app-tagline {
        font-size: 0.8em;
        font-weight: 300;
        font-family: 'Arvo', serif;
        color: #241571;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.progress-bar {
    margin-top: 1em;
    height: 0.5em;
    width: 100%;
}

.progress {
    height: 100%;
    width:0%;
    background-color: #673ab7;
    border-radius: 20px;
    animation-name: slideanimate;
    animation-duration: 4s;
    &.loaded {
        width: 100% !important;
    }
}

@keyframes slideanimate {
    to {
        width: 100%
    }
}