.form-container {
    padding: 1em;
    &.view-actual {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .form {
        padding-top: 1em;
        overflow: hidden;
    }

    .logo {
        width: 5em;
        height: auto;
        background: #fff;
    }

    .app-name {
        font-size: 1.5em;
        font-weight: 500;
        font-family: 'Arvo', serif;
        color: #673ab7;
        border-bottom: 0.1em solid #241571;
        padding-bottom: 0.1em;
    }
    .app-tagline {
        font-size: 0.8em;
        font-weight: 300;
        font-family: 'Arvo', serif;
        color: #241571;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.slide-in {
    animation: slide-in 2s ease-out;
}

.progress-bar {
    margin-top: 1em;
    height: 0.5em;
    width: 100%;
}

.progress {
    height: 100%;
    width:0%;
    background-color: #673ab7;
    border-radius: 20px;
    animation-name: slideanimate;
    animation-duration: 4s;
    &.loaded {
        width: 100% !important;
    }
}

@keyframes slideanimate {
    to {
        width: 100%
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(10em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px)  {
    .form-container {
        width: 100%;
    }
    .progress-bar {
        width: 70% !important;
        margin: auto;
        clear: both;
        margin-top: 1em;
    }
}