<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <button *ngIf="auth.loggedIn && storageService.getUserId() === '5ee352aea4928b0014252d80' " fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button color="primary" [routerLink]="['/admin']">
        <mat-icon>toc</mat-icon>
        Admin Dashboard
    </button>
    <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button color="primary" [routerLink]="['/user']" *ngIf="auth.loggedIn">
        <mat-icon>toc</mat-icon>
        User Dashboard
    </button>
    <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="auth.login()" *ngIf="!auth.loggedIn">
        <mat-icon>login</mat-icon>
        Log In
    </button>
    <button fxLayout="row" fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="auth.logout()" *ngIf="auth.loggedIn">
        <mat-icon>settings_power</mat-icon>
        Log Out
    </button>
</div>