<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div fxLayout="column" class="form-container" [class.view-actual]="showView">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
            <img src="assets/app-logo.jpg" class="logo">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.2em">
                <span class="app-name">Assessment Portal</span>
                <span class="app-tagline">
                    <span>Test | Track | Succeed</span>
                </span>
            </div>
        </div>
        <div class="progress-bar" *ngIf="!showView">
            <div class="progress" [class.loaded]="loaderComplete"></div>
        </div>
        <mat-tab-group *ngIf="showView">
            <mat-tab label="Sign In">
                <div fxLayout="column" fxLayoutGap="1em" class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="Email Id" [(ngModel)]="loginUser.email">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-hint>Enter your email</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" [(ngModel)]="loginUser.password">
                        <mat-icon matSuffix>security</mat-icon>
                        <mat-hint>Enter your password</mat-hint>
                    </mat-form-field>
                    <button *ngIf="loginUser && isGuestUser" mat-raised-button color="primary" (click)="login(true)">Sign In As Guest</button>
                    <button *ngIf="loginUser && isUser" mat-raised-button color="primary" (click)="login(false)">Sign In</button>
                </div>
            </mat-tab>
            <mat-tab label="Sign Up">
                <div fxLayout="column" fxLayoutGap="1em" class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" [(ngModel)]="signUpUser.name">
                        <mat-hint>Enter your name</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Course</mat-label>
                        <mat-select [(ngModel)]="signUpUser.courses" name="courses" multiple>
                            <mat-option *ngFor="let course of courses" [value]="course.course">
                                {{course.course}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>Select course(s)</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="Email Id" [(ngModel)]="signUpUser.email">
                        <mat-hint>Enter your email</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" [(ngModel)]="signUpUser.password">
                        <mat-hint>Enter your password</mat-hint>
                    </mat-form-field>
                    <button [disabled]="!signUpUser.email || !signUpUser.password" mat-raised-button color="primary" (click)="auth.signUp(signUpUser)">Sign Up</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>