<div fxLayout="column" fxLayoutGap="2em">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between start" fxLayoutGap="2em">
        <div class="card-layout" *ngIf="lineChart">
            <mat-radio-group aria-label="Select an ReportType" fxLayout="row" fxLayoutGap="1em" [(ngModel)]="lineChartType" (ngModelChange)="modelChangeLineChartType()">
                <mat-radio-button value="dates">Dates</mat-radio-button>
                <mat-radio-button value="tests">Tests</mat-radio-button>
            </mat-radio-group>
            <google-chart
                [type]="lineChart.type" 
                [data]="lineChart.data" 
                [options]="lineChart.options"
                [columns]="lineChart.columns"
            ></google-chart>
        </div>
        <div class="card-layout" *ngIf="pieChart">
            <google-chart 
                [type]="pieChart.type" 
                [data]="pieChart.data" 
                [options]="pieChart.options"
            ></google-chart>
        </div>
    </div>
    <div *ngIf="barChart">
        <mat-radio-group aria-label="Select an Subject" fxLayout="row" fxLayoutGap="1em" [(ngModel)]="barChartSubject" (ngModelChange)="modelChangeBarchartSubjectType()">
            <mat-radio-button *ngFor="let subject of subjects" [value]="subject">{{subject}}</mat-radio-button>
        </mat-radio-group>
        <google-chart
            class="card-layout"
            [type]="barChart.type" 
            [data]="barChart.data" 
            [options]="barChart.options"
        ></google-chart>
    </div>
</div>
