<mat-accordion multi *ngIf="tests && tests.length > 0">
    <mat-expansion-panel *ngFor="let test of tests">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ test.chapter.subject }}</mat-panel-title>
        <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
            Created: {{ test.createdAt }}
            <button mat-raised-button color="{{ test.isSubmitted ? 'success' : 'accent'}}" fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon>{{ test.isSubmitted ? 'done' : 'timer'}}</mat-icon>
              {{ test.isSubmitted ? 'Finished' : 'Pending'}}
            </button>
            <a *ngIf="!test.isSubmitted" class="view-questions" (click)="$event.stopPropagation();" [routerLink]="['/user/attempt-test', test._id]">Start Test</a>
            <a *ngIf="test.isSubmitted" class="view-questions" (click)="$event.stopPropagation();" [routerLink]="['/user/test-answer-key', test._id]">View Answer</a>
            <button title="Delete this test" mat-mini-fab color="warn" (click)="deleteTest(test);$event.stopPropagation();">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-test-statistics
        *ngIf="test.isSubmitted"
        [test]="test"
      ></app-test-statistics>
  
    </mat-expansion-panel>
</mat-accordion>

<div fxFill fxLayout="column" fxLayoutAlign="space-between center" *ngIf="!tests || tests.length == 0">
  <span> No tests available</span>
  <span>
    <button mat-raised-button color="primary" [routerLink]="['/user/start-taking-test']" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon>grading</mat-icon>
      Create Test
    </button>
  </span>
</div>
