p {
    font-family: Lato;
}
.question-container div {
    margin: 15px 5px;
    font-size: 30px;
}
.green{
    color: green;
}
.red{
    color:red
}

.loader-overlay, .inactive-overlay{
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;

    &.loader {
        display: block;
    }
}

.inactive-overlay {
    opacity: 0;
}
