<div class="scroll-questions">
  <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em" *ngIf="question">
      <div class="question-div">
        <app-mathjax *ngIf="question.isQuestionImage !== false" [content]="question.question"></app-mathjax>
        <img *ngIf="question.isQuestionImage === true" [src]="question.question" class="question-image">
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" *ngFor="let op of question.options;let i = index">
          <mat-checkbox
            color="primary"
            [disabled]="question.isSubmitted"
            [value]="i+1" 
            (change)="onCheckboxChange($event)"
            [checked]="question.userAnswer.includes(i+1)"
          ></mat-checkbox>
          <app-mathjax *ngIf="!question.isOptionImage || !question.isOptionImage[i]" [content]="op"></app-mathjax>
          <img *ngIf="question.isOptionImage && question.isOptionImage[i]" [src]="op" class="option-image">
      </div>
      <!-- <button mat-raised-button color="primary" [disabled]="!question.userAnswer.length || question.isSubmitted" (click)="submitAnswer()">
        <mat-icon>done</mat-icon>
        Submit Answer
      </button>
      <div class="answer-flag-div" *ngIf="question.isSubmitted != null">
        <button mat-raised-button class="green" *ngIf="question.correctAnswer === true">
          <mat-icon>done</mat-icon>
          Correct
        </button>
        <button mat-raised-button class="red" *ngIf="question.correctAnswer === false">
          <mat-icon>close</mat-icon>
          Wrong
        </button>
      </div> -->
      <!-- 
        isQuestionImage,
        isOption1Image,
        isOption2Image,
        isOption3Image,
        isOption4Image,
        isOption5Image,
        isAnswerInput,
       -->
  </div>
</div>