.green {
    color: green;
}
.red {
    color: red;
}
.question {
    font-size: 20px;
}
.scroll-questions {
    height: 60vh;
    overflow-y: auto;

    &.view-mode {
        height: 50vh;
    }
}

.margin-half-em {
    margin: 0.1em 0.3em !important
}

.question-tags {
    margin: 0 !important;
    p {
        text-align: right;
        margin: 0;
        padding-right: 1em;
        font-size: 0.7em !important;
    }
}

.question-div {
    margin: 0 !important;
}

.options-div {

}

.question-box {
    font-size: 18px;
}
