<div class="scroll-questions">
  <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em" *ngIf="question">
    <div fxFill class="question-div">
      <app-statement
        [statement]="question.question"
      ></app-statement>
    </div>
    <div fxFill class="question-tags" *ngIf="question.tags">
      <p><em>(2010, 2012, 2010-II) </em> </p>
    </div>
    <div fxFill class="options-div" *ngIf="question.isSingleAnswer">
      <mat-radio-group [(ngModel)]="question.userAnswer" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1em">
        <div fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" *ngFor="let op of question.options; let i = index">
          <mat-radio-button 
            class="margin-half-em" 
            color="primary"
            [value]="i+1"
          ></mat-radio-button> 
          <!-- [disabled]="question.isSubmitted" -->
          <app-statement
            [statement]="op"
          ></app-statement>
        </div>
      </mat-radio-group>
    </div>
    <div fxFill class="options-div" *ngIf="!question.isSingleAnswer">
      <div fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" *ngFor="let op of question.options;let i = index">
        <mat-checkbox
          class="margin-half-em" 
          color="primary"
          [value]="i+1"
          [checked]="isCheckedOption(i+1)"
          (change)="onCheckboxChange($event)"
        ></mat-checkbox>
        <!-- [disabled]="question.isSubmitted" -->
        <app-statement
          [statement]="op"
        ></app-statement>
      </div>
    </div>
  </div>
</div>