.green {
    color: green;
}
.red {
    color: red;
}
.question {
    font-size: 20px;
}
.scroll-questions {
    height: 60vh;
    overflow-y: auto;

    &.view-mode {
        height: 50vh;
    }
}

.margin-half-em {
    margin: 1em;
}

.question-tags p {
    text-align: right;
    margin: 0;
}

.question-div {
}

.options-div {

}

.question-box {
    font-size: 18px;
}
