.number-field {
    width: 5em;
}
mat-form-field {
    width: 10em;
}
.textarea-input {
    width: 20em;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    th, td {
        padding: 1em;
        text-align: left;
        width: 15em;
        border: 1px solid gray;
    }
}

.disabled {
    pointer-events: none;
}

a {
    cursor: pointer;
}
