<div class="page-container">
    <mat-tab-group>
        <mat-tab label="Mock test">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="space-between center" (click)="createTest(mocktest._id)" *ngFor="let mocktest of mocktests">
                    <mat-icon>grading</mat-icon>
                    {{ mocktest.paperName }}
                </button>
            </div>
        </mat-tab>
        <mat-tab label="Subjectwise test" *ngIf="data">
            <app-subjectwise [data]="data"></app-subjectwise>
        </mat-tab>
        <mat-tab label="Chapterwise test" *ngIf="data">
            <app-chapterwise [data]="data"></app-chapterwise>
        </mat-tab>
        <mat-tab label="Topicwise tests" *ngIf="data">
            <app-topicwise [data]="data"></app-topicwise>
        </mat-tab>
    </mat-tab-group>
</div>