<div class="page-container">
    <mat-tab-group>
        <mat-tab label="Topicwise tests">
            <app-topicwise [data]="data"></app-topicwise>
        </mat-tab>
        <mat-tab label="Chapterwise test">
            <app-chapterwise [data]="data"></app-chapterwise>
        </mat-tab>
        <mat-tab label="Subjectwise test">
            <app-subjectwise [data]="data"></app-subjectwise>
        </mat-tab>
        <mat-tab label="Mock test">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="space-between center" (click)="createTest()">
                    <mat-icon>grading</mat-icon>
                    JEE Main
                </button>
                <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="space-between center" (click)="createTest()">
                    <mat-icon>grading</mat-icon>
                    JEE Advance Paper - I
                </button>
                <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="space-between center" (click)="createTest()">
                    <mat-icon>grading</mat-icon>
                    JEE Advance Paper - II
                </button>
                <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="space-between center" (click)="createTest()">
                    <mat-icon>grading</mat-icon>
                    NEET
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>