<div class="page-container">
    <textarea [(ngModel)]="content" ></textarea> 
    <!-- (ngModelChange)="onChange($event)" -->
    <button (click)="validate()">Validate</button>
    <button (click)="formatString()">Format Content</button>
    <button (click)="isQuestionExists()">CheckIfExists</button>
    <div>
        <app-mathjax *ngIf="isValidate" [content]="content"></app-mathjax>
    </div>
    <div *ngIf="matchedQuestion" >
        <span>{{matchedQuestion.id}}</span><br>
        <app-mathjax [content]="matchedQuestion.question"></app-mathjax>
    </div>
</div>