.page-container{
    margin: 1em;
    textarea {
        height: 5em;
        width: 40em;
    }

    .action-buttons button {
        margin-right: 5px;
    }

    app-mathjax {
        font-family: 'Times New Roman', Times, serif; font-size: 1.5em !important;
    }
}