<div class="page-container" fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutGap="1em">
        <textarea #contentTest [(ngModel)]="content" (ngModelChange)="onChange($event)"></textarea>
        <!-- (ngModelChange)="onChange($event)" -->
        <div class="action-buttons" fxLayout="column" fxLayoutGap="1em">
            <button mat-raised-button color="primary" [disabled]="buttons[0].disabled" (click)="validate()">Validate</button>
            <button mat-raised-button color="primary" [disabled]="buttons[1].disabled" (click)="addHashesBeforeQuestionNum()">Add ## To Question</button>
            <button mat-raised-button color="primary" [disabled]="buttons[2].disabled" (click)="addHashesWithYearBeforeQuestionNum()">Add ## Year To Question</button>
            <button mat-raised-button color="primary" [disabled]="buttons[3].disabled" (click)="formatString()">Format Content</button>
            <button mat-raised-button color="primary" [disabled]="buttons[4].disabled" (click)="formatBreaksInString()">Format LineBreaks</button>
            <button mat-raised-button color="primary" [disabled]="buttons[5].disabled" (click)="formatForPasteAsTableCompQuestions()">Format Comp Question For Paste as Table</button>
            <button mat-raised-button color="primary" [disabled]="buttons[6].disabled" (click)="convertCompetetiveQueToJson()">Format Comp Content as JSON</button>
            <button mat-raised-button color="primary" [disabled]="buttons[7].disabled" (click)="formatForPasteAsTable()">Format Question For Paste as Table</button>
            <button mat-raised-button color="primary" [disabled]="buttons[8].disabled" (click)="formatAnswerToPaste()">Format Answer For Paste as Table</button>
            <button mat-raised-button color="primary" [disabled]="buttons[9].disabled" (click)="isQuestionExists()">CheckIfExists</button>
            <button mat-raised-button color="primary" [disabled]="buttons[10].disabled" (click)="createMathTableFromCoammaSaperatedContent()">Math Expression Table</button>
            <button mat-raised-button color="primary" [disabled]="buttons[11].disabled" (click)="copyInputMessage(contentTest)">Copy Content</button>
            <button mat-raised-button color="primary" [disabled]="buttons[12].disabled" (click)="jsonContent=[]">Clear JSON View</button>
        </div>
        <div class="action-buttons" fxLayout="column" fxLayoutGap="1em">
            <button mat-raised-button color="{{ buttonNum.disabled ? 'accent': 'warn'}}" (click)="buttonNum.disabled = !buttonNum.disabled" *ngFor="let buttonNum of buttons">{{ buttonNum.disabled ? 'Enable': 'Disable'}}</button>
        </div>
    </div>
    
    <div>
        <app-mathjax *ngIf="isValidate" [content]="content"></app-mathjax>
    </div>
    <table *ngIf="jsonContent.length">
        <tr *ngFor="let cont of jsonContent">
            <td> <app-mathjax [content]="cont.srNo"></app-mathjax> </td>
            <td> <app-mathjax [content]="cont.question"></app-mathjax> </td>
            <td> <app-mathjax [content]="cont.options[0]"></app-mathjax> </td>
            <td> <app-mathjax [content]="cont.options[1]"></app-mathjax> </td>
            <td> <app-mathjax [content]="cont.options[2]"></app-mathjax> </td>
            <td> <app-mathjax [content]="cont.options[3]"></app-mathjax> </td>
            <td> <app-mathjax [content]="cont.tag"></app-mathjax> </td>
        </tr>
    </table>

    <div *ngIf="matchedQuestion" >
        <span>{{matchedQuestion.id}}</span><br>
        <app-mathjax [content]="matchedQuestion.question"></app-mathjax>
    </div>
</div>