<div class="page-container" fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutGap="1em">
        <textarea #contentTest [(ngModel)]="content" (ngModelChange)="onChange($event)"></textarea>
        <!-- (ngModelChange)="onChange($event)" -->
        <div class="action-buttons" fxLayout="column" fxLayoutGap="1em">
            <button mat-raised-button color="primary" (click)="validate()">Validate</button>
            <button mat-raised-button color="primary" (click)="formatString()">Format Content</button>
            <button mat-raised-button color="primary" (click)="formatBreaksInString()">Format LineBreaks</button>
            <button mat-raised-button color="primary" (click)="formatForPasteAsTable()">Format Question For Paste as Table</button>
            <button mat-raised-button color="primary" (click)="formatAnswerToPaste()">Format Answer For Paste as Table</button>
            <button mat-raised-button color="primary" (click)="isQuestionExists()">CheckIfExists</button>
            <button mat-raised-button color="primary" (click)="copyInputMessage(contentTest)">Copy Content</button>
        </div>
    </div>
    
    <div>
        <app-mathjax *ngIf="isValidate" [content]="content"></app-mathjax>
    </div>
    <div *ngIf="matchedQuestion" >
        <span>{{matchedQuestion.id}}</span><br>
        <app-mathjax [content]="matchedQuestion.question"></app-mathjax>
    </div>
</div>