<div class="user-dashboard">
    <mat-sidenav-container class="drawer-container">
        <mat-sidenav mode="over" #sidenav>
            <div fxFill fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1em">
                <!-- <img class="user-image" [src]="userProfile.picture"> -->
                <div fxLayout="column" fxLayoutGap="1em" class="menu-list">
                    <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" *ngFor="let menu of menus" [routerLink]="menu.path">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        {{menu.menu}}
                    </button>
                    <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/instructor']">
                        <mat-icon>settings_power</mat-icon>
                        Instructor
                    </button>
                    <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" (click)="auth.logout()">
                        <mat-icon>settings_power</mat-icon>
                        Logout
                    </button>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <mat-icon (click)="sidenav.toggle()" title="Open Menus">toc</mat-icon> {{ pageHeader }}
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>