.user-dashboard {
    height: 100%;
    .drawer-container {
        height: 100%;
        mat-sidenav {
            min-width: 11em;
            max-width: 15em;
            // padding: 0 0.5em;
            .mat-list-item {
                cursor: pointer;
            }
            .menu-list {
                padding-top: 1em;
            }
            .menu-buttom {
                border-radius: 0 !important;
                padding-top: 0.5em !important;
                padding-bottom: 0.5em !important;
                font-size: 1em;
                font-weight: 400;
                font-family: 'Arvo', serif;

                mat-icon {
                    height: 1.2em !important;
                    font-size: 2em !important;
                }
            }
        }
    }
}

.hide-button, .show-button {
    position: fixed;
    bottom: 5px;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

.show-button {
    left: 1em;
}

.user-image {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-top: 0.5em;
}

.mat-icon {
    cursor: pointer;
}

.page-header-container {
    width: 11em;
    .page-header {
        max-width: 7em !important;
    }
}

.course-container {
    min-width: 5em;
    max-width: 7em;
}

::ng-deep .course-container .mat-select-value {
    text-align: right !important;
    padding-right: 0.5em !important;
    font-weight: 500;
}

.outlet {
    min-height: calc(100vh - 46px);
    max-height: calc(100vh - 46px);
    overflow: auto;
    background: #fff;
}

@media only screen and (max-width: 600px)  {
    mat-sidenav {
        width: 50% !important;
    }
    .menu-buttom {
        width: 100% !important;
    }   
}
