<div class="user-dashboard">
    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" [opened]="drawerService.opened">
            <div fxFill fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1em">
                <img class="user-image" [src]="userProfile.picture">
                <div fxLayout="column" fxLayoutGap="1em">
                    <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" *ngFor="let menu of menus" [routerLink]="menu.path">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        {{menu.menu}}
                    </button>
                    <button fxLayout="row" *ngIf="isAdmin" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/admin']">
                        <mat-icon>supervised_user_circle</mat-icon>
                        Go to admin
                    </button>
                    <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" (click)="auth.logout()">
                        <mat-icon>settings_power</mat-icon>
                        Logout
                    </button>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>