<div fxFill fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="1em" *ngIf="test">
    <div class="border-bottom" fxFill fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="1em">
        Test Result
    </div>
    <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign="space-around center" fxLayoutGap="1em">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5em">
            <div class="card-layout row-one" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <span>Remark</span>
                <span>{{ test.result ? 'Pass' : 'Fail'}}</span>
            </div>
            <div fxFill class="card-layout row-four" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span>Total Marks</span>
                    <span>{{ test.totalMarks }}</span>
                </div>
                <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span>Score</span>
                    <span>{{ score.score }}</span>
                </div>
                <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span>Positive</span>
                    <span>{{ score.positive }}</span>
                </div>
                <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span>Negative</span>
                    <span>{{score.negative ? "-" : ""}}{{ score.negative }}</span>
                </div>
            </div>
            <div fxFill class="card-layout row-two" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span>Duration</span>
                    <span>{{ test.allottedTime | time : 'fromSeconds' }}</span>
                </div>
                <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span>Spent</span>
                    <span>{{ (test.allottedTime - test.completeTime) | time : 'fromSeconds' }}</span>
                </div>
            </div>
        </div>
        <div class="card-layout">
            <google-chart [type]="'PieChart'" [data]="piData" [options]="piOptions"></google-chart>
        </div>
        <div class="card-layout">
            <google-chart [type]="'ColumnChart'" [data]="columnData" [options]="columnOptions"></google-chart>
        </div>
    </div>
</div>