mat-card {
    width: 15em;
}
.priority-message {
    background-color: #ec0101;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}
.info-message {
    background-color: #07689f;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}