/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px;}
h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

.snackbar {
    font-size: 12px !important;
    color: #fff;
    width: 5em !important;
}
.danger {
    border-left: 5px solid #800000;
    background-color: red;
}
.success {
    border-left: 5px solid #006400;
    background-color: #32CD32;
}
.warning {
    border-left: 5px solid #808000;
    background-color: #CCCC00;
}

app-mathjax {
    max-width: 30em;
    margin-bottom: 0.2em !important;
}
.padding-1em {
    padding-left: 5em;
}

.page-container {
    margin: 0.5em 1em;
}

.mat-success {
    color: #f0fff3;
    background-color: #155724;
}

.mat-orange {
    color: #fff;
    background-color: #ffa500;
}

.mat-chartreuse {
    color: #424442;
    background-color: chartreuse;
}

.mat-mint {
    color: #424442;
    background-color: mintcream;
}

.mat-lime {
    color: #424442;
    background-color: lime;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 46px !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 300 16px/32px Roboto,"Helvetica Neue",sans-serif;
}

.mat-raised-button {
    line-height: 30px !important;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 10px !important;

    &.strong {
        font-weight: bold;
    }
}

.mat-mini-fab {
    line-height: 24px !important;
    width: 24px !important;
    height: 24px !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    .mat-button-wrapper {
        padding: 0px 0 !important;
    }
}

.mat-radio-inner-circle, .mat-radio-outer-circle {
    height: 16px !important;
    width: 16px !important;
}

.mat-icon {
    height: 20px !important;
}

.material-icons {
    font-size: 20px !important;
}

.mat-card {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5) !important;
}

.shorten-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-dialog-container {
    padding: 0 !important;
}

.humburger {
    font-size: 2.5em !important;
    height: 1em !important;
    width: 1em !important;
}

span.page-header {
    font-weight: 400;
    font-size: 1.2em;
}

.mb-1 {
    margin-bottom: 1em !important;
}
.mr-1 {
    margin-right: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 0.3em;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media only screen and (max-width: 600px)  {
    .snackbar {
        width: 90% !important;
        margin: auto !important;
        clear: both;
        margin-bottom: 1em !important;
    }    
}
