<div class="admin-dashboard">
    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" [opened]="drawerService.opened">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" *ngFor="let menu of menus" [routerLink]="menu.path">
                    <mat-icon>{{menu.icon}}</mat-icon>
                    {{menu.menu}}
                </button>
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/user']">
                    <mat-icon>supervised_user_circle</mat-icon>
                    Go to user
                </button>
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" (click)="auth.logout()">
                    <mat-icon>settings_power</mat-icon>
                    Logout
                </button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>