<div class="admin-dashboard">
    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" opened>
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
                <button fxLayoutGap="15em" fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/admin/import-questions']">
                    Import Questions
                    <mat-icon>cloud_upload</mat-icon>
                </button>
                <button fxLayoutGap="15em" fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/admin/validate-maths-expressions']">
                    Validate Expression
                    <mat-icon>done</mat-icon>
                </button>
                <button fxLayoutGap="15em" fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/admin/import']">
                    Take a test
                    <mat-icon>done</mat-icon>
                </button>
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/user']">
                    Go to user
                    <mat-icon>done</mat-icon>
                </button>
                <button fxLayout="row" fxLayoutAlign="space-between stretch" mat-raised-button color="primary" [routerLink]="['/']">
                    Logout
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>