.admin-dashboard {
    height: 100%;
    .drawer-container {
        height: 100%;
        mat-drawer {
            min-width: 11em;
            max-width: 15em;
            padding: 0 0.5em;
            .mat-list-item {
                cursor: pointer;
            }
        }
    }
}

.padding-top {
    padding-top: 0.5em;
}


.hide-button, .show-button {
    position: fixed;
    bottom: 5px;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

.show-button {
    left: 1em;
}